body,html{
    margin: 0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #b84435;
    color: #ffffff;
    height:90px;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin-top: -20px;
    
}
footer{
    height: 100px;
    background-color: #b84435;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;

}
#logo{
    width:70px;
    float: left;
    position: absolute;
    top: 10px;
    margin-left: 5%;
}
#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
}
li{
    float: left;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 10px;
}
li:hover{
    background-color:#eca04c;
    color: #b84435;
}
h2{
    text-align: center;
}
a{
    text-decoration: none;
    color: #ffffff;
}
#logo:hover{
    transform: scale(1.2);
}

#imagem-fundo{
    background: url("imagens/fundo.jpg");
    height:100%;
    text-align: center;
    background-size: cover;
    padding-bottom: 10%;
}
#titulo{
    padding-top: 10%;
    color:#ffffff;
   
}
#subtitulo{
    padding-left: 20%;
    padding-right: 20%;
    color:#ffffff;
    }
#acao{
    color:#ffffff;
    border: 1px #ffffff solid;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}
.destaque{
    background-color: hsla(31, 56%, 91%, 0.589);
    

}

.col01{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
    text-align: justify;
    margin: 10px 0px 10px;
    
}
.justificado{
    text-align: justify;
    width: 50%;
    float: left;
    margin-top: 5%;
}
.col04{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 15%;
    text-align: justify;
       
}
.icone{
    width: 100px;
    padding-left: 20%;
    margin-top: 30px;
    
}
.col03{
    float: left;
    padding: 0 1%;
    position: relative;
    width:30%;
    text-align: center;
    margin: 10px;
}
.img-proj{
    width:80%;
}
#sobre{
  float: left;
  padding-left: 10%;
 background-color: hsla(31, 56%, 91%, 0.589);
}
.img-sobre{
    width: 30%;
    padding: 5%;
       
}
#aqui{
    color: #b84435;
}
 
#img-qr-code{
    width: 10%;
    padding: 1%;
    margin-left: 5%;
    border-radius: 10%;
    border: solid 3px;
    
 }
 .qr-code{
    width: 50%;
    text-align: left;
    padding: 2%;
    font-size: 10px;
        
 }
